.widget-bar {
    display: flex;
    flex-direction: column;
    border: 9px solid rgb(231, 228, 227);
    border-radius: 12px;
    width: 30%;
}
.news {
    border-bottom: 1px solid var(--grey-color);
}
.news:last-child {
    border: 0;
}
.news-container {
    display: flex;
    flex-direction: column;
    padding: 0 1em;
    align-items: center;
    gap: 0.5em;
}
.news-container img {
    width: 100%;
    cursor: pointer;
}
h2 {
    text-align: center;
    margin: 0.5em 0;
}
.news-container h3 {
    margin-bottom: 0.5em ;
}
h3 {
    cursor: pointer;
}
h3:hover {
    color: var(--blue-color);
}
